h1 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: darkblue;
}

    h1::first-letter {
        color: aqua;
        font-size: 70px;
    }

h2 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

::selection {
    background-color: black;
    color: snow;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url("Screenshot 2026-03-14 025601.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#line {
    margin-top: 100px;
}

table {
    width: 95%;
    text-align: left;
    margin-top: 50px;
    background-color: white;
}

th {
    background-color: powderblue;
}

td, th {
    border: 3px groove black;
    padding: 8px;
    border-radius: 5px;
}

    td:hover {
        background-color: aqua;
    }

a:link {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: green;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0;
}

input[type=search] {
    width: auto;
    color: darkblue;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 5px 5px;
}

button[type=submit] {
    color: black;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 5px 5px;
}

button[type=submit]:hover {
        background-color: aqua;
        color: green;
}
