<!DOCTYPE html>
<html>
<head>
    <title>Jobs' Details </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<body>

    <header>
        <h2>Linked Out</h2>
        <p>
            <a href="{% url 'index' %}">Home</a> |
            <a href="{% url 'applied_jobs' %}">My Applications</a> |
            <a href="{% url 'home' %}">Logout</a>
        </p>
    </header>
    <hr>

    <h1>Available jobs' details </h1>

    <h2>Here is available jobs' details</h2>

    <div id="jobContainer"></div>


    <script src="{% static 'JobDetails.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
